@import "../../../core/styles/variables";
@import "../../../core/styles/mixins";

.bui-btn {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 11px 16px;
  border-radius: 4px;
  background-color: $primary;
  cursor: pointer;
  color: $white;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  @include flex-center-center;
  transition: background-color ease-in-out 0.1s;

  &:hover {
    background-color: $hover;
  }

  &:active {
    outline: 2px solid $focus;
  }

  &-disabled {
    background-color: $bgDisabled;
    color: $contentDisabled;
    cursor: default;

    &:hover {
      background-color: $bgDisabled;
    }

    &:active {
      outline: none;
    }
  }

  &-icon {
    svg {
      margin-right: 5px;
    }

    svg path {
      fill: $white;
    }

    &-disabled {
      svg path {
        fill: $contentDisabled;
      }
    }
  }

  &-filled {
    background-color: $filled;
    color: $primary;
    padding: 11px 15px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border ease-in-out 0.1s;

    &:hover {
      background-color: $filled;
      border-color: $hover;
    }

    &-icon {
      svg {
        margin-right: 5px;
      }
      svg path {
        fill: $primary;
      }
    }

    &-disabled {
      background-color: $bgDisabled;
      color: $contentDisabled;
      cursor: default;

      &:hover {
        background-color: $bgDisabled;
        border-color: rgba(0,0,0,0);
      }

      &:active {
        outline: none;
      }

      svg path {
        fill: $contentDisabled;
      }
    }
  }
}
