$primary: #482BD9;
$focus: rgba(216, 208, 255, 0.2);

$hover: #3B25A8;
$purple: #B6ABED;
$white: #fff;
$bgDisabled: #F5F5F5;
$grayBorder: #C5C5C5;
$contentDisabled: #C2C2C2;
$contentSwitch: #E0E0E0;

$filled: #F6F4FF;

$textPrimary: #424242;
$textActive: #220F80;
